.btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  border: none;
  bottom: 10%;
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
  font-family: FontAwesome;
  outline: none;
}

.pass {
  left: 1%;
  background: #E53935;
}

.pass::after {
  content: "\f165";
}

.pick {
  right: 1%;
  background: #43A047;
}

.pick::after {
  content: "\f164";
}

.pick:hover::after, .pass:hover::after {
  animation: iconBounce .57s 1;
}

@keyframes iconBounce {
  0% {
    font-size: 24px;
  }
  
   50% {
    font-size: 28px;
  }
  
  100% {
    font-size: 24px;
  }

}

.card {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  border: 6px solid white;
  height: 400px;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
}

.card .fa-spinner {
  font-size: 180px;
  position: absolute;
  left: 25%;
  top: 25%;
}